.navbar {
    background-color: #3A3652;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav>li {
    margin-left: 25px;
    margin-right: 25px;
}

body {
    background-color: #292444;
}

.cor-branca {
    color: #E0E0E0;
}

.cor-amarela {
    color: #D5FF26;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}