body {
    background-color: #292444;
}

.container-fluid {
    padding: 3%;
}

.navbar {
    background-color: #3A3652;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

.titulo-generico {
    font-size: 36px;
    font-family: tahoma;
    font-weight: bold;
    color: #FFFFFF;
}

.botao-generico {
    color: white;
    background-color: #5E5796;
    border-color: #5E5796;
    font-weight: 1000;
    width: 195px;
    height: 54px;
}


.cor-branca {
    color: #E0E0E0;
}

.cor-amarela {
    color: #D5FF26;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

a:link {
    color: #EEECEE;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #EEECEE;
}

a:hover {
    text-decoration: underline;
}