@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.card {
    border-radius: 15px;
    width: 325px;
    height: 100%;
    border: 3px solid #707070;
    background-color: #FFFFFE;
    display: flex;
    flex-direction: column;
}

.carta-conteudo {
    padding: 4%;
    width: 100%;
    text-align: center;
}

.texto-carta {
    font-family: tahoma;
    font-size: 36px;
    font-weight: bold;
    color: #27ACA7;
    cursor: pointer;
    width: 100%;
}

.carta-linha {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.carta-img {
    cursor: pointer;
    width: 80%;
}

.icone-editar {
    float: right;
    cursor: pointer;
    width: 12%;
}

.icone-excluir {
    float: right;
    cursor: pointer;
    width: 12%;
}

.home-colecao {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}