.navbar {
    background-color: #3A3652;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav>li {
    margin-left: 25px;
    margin-right: 25px;
}